<%- include("header") -%>
        <div class="box" id="heading">
            <h1> <%= listTitle %></h1>
        </div>
            <div class="box">
                
                    
                    <!-- for each item in newListItem, we create a new <li> in <ul> -->
                    <% newListItems.forEach(function(item){ %> 
                        <div class="item">
                            <input type="checkbox">
                            <p> <%= item %> </p>
                        </div>  
                        
                    <% }) %>  
                    
                    <form action="/" method="post">
                        <input placeholder="New Item" type="text" name="newItem" autocomplete="off">
                        <button type="submit" name="list" value=<%= listTitle %>>+</button>
                    </form>
            </div>
<%- include("footer") -%>